# ====== Data and Outputs ======
data/driving_time_matrix.csv
data/driving_time_matrix_NN.npy
*.log
__pycache__/
**/__pycache__/
*.pyc

# ====== IDE Settings ======
.idea/

# ====== Images ======
*.gif
*.png
!docs/*.png   # Keep figures for documentation

# ====== macOS system files ======
.DS_Store
**/.DS_Store