# Ignore big docs
data/driving_time_matrix.npy

# Ignore PyCharm/IntelliJ project settings
.idea/

# Ignore .png and .gif
*.gif
*.png

# Ignore files with spaces in file names
* *  

# Ignore macOS system files
.DS_Store

__pycache__/
*.log

